body {
text-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    
}

nav {
    background: #00640500;
    backdrop-filter: blur(2px);
    height: 80px;
    width: 100%;
    position: fixed;
    display: flex;
}

nav ul {
    float: left;
    margin-right: 20px;
    
}

ul a {
    text-decoration: none;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0px 35px;
}

a.active, a:hover {
    background: #b3b6b35b;
    transition: 0.3s;
}

nav ul li a {
    font-family: sans-serif;
    color: #ffffff;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 15px;
    border-width: thick;
    text-transform: uppercase;
}

#logo {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}

body div {
    background: rgb(15,122,0);
    background: linear-gradient(90deg, rgb(12, 99, 0) 0%, rgba(2,222,0,1) 50%, rgb(0, 105, 11) 100%);
    font-family: sans-serif;
    color: #ffffff;
}


#cabecario {
    font-size: 50px;
    font-family: sans-serif;
    background-image: url(https://cxstro06.github.io/projeto-agrinho2022/bannerr.png);
    color: #ffffff;
    padding: 200px 30px 30px 30px;
}

#cabecario h1 {
    padding-bottom: 40px;
}

#solar {
    padding: 60px;
    text-align: center;
}

#solar h1 {
    font-size: 33px;
    padding-bottom: 20px;
    

}

#solar p {
    font-size: 24px;
   
}

#solar img {
    width: 33%;
    padding-bottom: 20px;
        
}

#eolica {
    padding: 60px;
    text-align: center;
}

#eolica h1 {
    font-size: 33px;
    padding-bottom: 20px;
}

#eolica p {
    font-size: 24px;

}

#eolica img {
    width: 33%;
    padding-bottom: 20px;
}

#hidreletrica {
    padding: 60px;
    text-align: center;
}

#hidreletrica h1 {
    font-size: 33px;
    padding-bottom: 20px;
}

#hidreletrica p {
    font-size: 24px;
}

#hidreletrica img {
    width: 33%;
    padding-bottom: 20px;
}
